# IDE dependencies ignore
.idea/
.settings/
**/.vscode/
# it will catch all the instances of .vscode folder across the whole dir

# OS junk ignore
Thumbs.db
desktop.ini

# If I use API keys
.env
.env.local